body {
    font-family: 'Poppins', sans-serif;
}

.full-width {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 8%;
}

.half-width img {
    width: 80%;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: #FFA500;
    font-weight: bolder;
}

.half-width p {
    text-align: justify;
}

.header-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}